# ══════════════════════════════════════════
#   RP Server Discord Bot — Konfiguration
# ══════════════════════════════════════════
# Kopiere diese Datei als ".env" und fülle alle Felder aus.

# ─── Bot Credentials ───────────────────────────────────────────────
BOT_TOKEN=MTUzMTI5MzAzMTQwNjM3MDg1Ng.G2_MeV.NIzKp0oJ8v7p7J5P95cStfDyr4Eo0wOo06l0wM
CLIENT_ID=1497347502070825110
GUILD_ID=1480009210073976906

# ─── Datenbank ─────────────────────────────────────────────────────
# MongoDB Connection String (kostenlos auf https://cloud.mongodb.com)
MONGO_URI=mongodb+srv://offsetflyer_db_user:DEIN_PASSWORT@cluster0.mkvxyfw.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# ─── Rollen-IDs ────────────────────────────────────────────────────
# Rechtsklick auf die Rolle → ID kopieren (Entwicklermodus muss an sein)
ROLE_FRAKTIONSVERWALTUNG=1480009210581356583
ROLE_HIGHTEAM=1480009210539278537
ROLE_MODERATOR=1480009210581356578
ROLE_SUPPORTER=1480009210581356574
ROLE_TEAM=1480009210514374694
ROLE_MEMBER=1480009210073976912

# ─── Kanal-IDs ─────────────────────────────────────────────────────
# Rechtsklick auf den Kanal → ID kopieren
CHANNEL_LOGS=1480009215065067546
CHANNEL_MOD_LOGS=1480009215065067546
CHANNEL_TICKET_LOGS=1480009215065067546
CHANNEL_JOIN_LEAVE=1480009215065067546
CHANNEL_VOICE_LOGS=1480009215065067546
CHANNEL_WELCOME=1480009215065067546
CHANNEL_TRANSCRIPTS=1480009215065067546
CHANNEL_APPLICATIONS=1480009215065067546
CHANNEL_TEAM_INFO=1480009215065067546
CHANNEL_GIVEAWAYS=1480009215065067546

# ─── Kategorie-IDs ─────────────────────────────────────────────────
CATEGORY_TICKETS=1531295904970309864
